.trans{
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
}
.bling{
	animation:bling 1s linear 0s infinite;
	-webkit-animation:bling 1s linear 0s infinite;
	-moz-animation:bling 1s linear 0s infinite;
}
@keyframes bling{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
@-webkit-keyframes bling{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
@-moz-keyframes bling{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
@keyframes shake{
	0%{
		transform: translateX(0);
	}
	25%{
		transform: translateX(-3px);
	}
	50%{
		transform: translateX(0);
	}
	75%{
		transform: translateX(-3px);
	}
	100%{
		transform: translateX(0);
	}
}
@-webkit-keyframes shake{
	0%{
		transform: translateX(0);
	}
	25%{
		transform: translateX(-3px);
	}
	50%{
		transform: translateX(0);
	}
	75%{
		transform: translateX(-3px);
	}
	100%{
		transform: translateX(0);
	}
}
@-moz-keyframes shake{
	0%{
		transform: translateX(0);
	}
	25%{
		transform: translateX(-3px);
	}
	50%{
		transform: translateX(0);
	}
	75%{
		transform: translateX(-3px);
	}
	100%{
		transform: translateX(0);
	}
}
@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}