.panel{
	position: relative;
	overflow: hidden;
	background-color: black;
	z-index: 100;
	.controls{
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 100;
		&.down{
			margin-bottom: -4*$list-height;
			@extend .trans;
		}
		&.up{
			margin-bottom: 0;
			@extend .trans;
		}
		&.move{
			transform: translateY(20px);
			-webkit-transform: translateY(20px);
			-moz-transform: translateY(20px);
			transition: all 0.3s ease-in;
			-webkit-transition: all 0.3s ease-in;
			-moz-transition: all 0.3s ease-in;
		}
		.row{
			overflow: hidden;
			div{
				float: left;
				width: 25%;
				height: $list-height;
				line-height: $list-height;
				cursor: pointer;
				@include font(24px);
			}
			.darken{
				background-color: rgba(0,0,0,0.1);
			}
			&:nth-child(1){
				background-color: #00091a;
			}
			&:nth-child(2){
				background-color: #021325;
			}
			&:nth-child(3){
				background-color: #071c31;
			}
			&:nth-child(4){
				background-color: #0d2740;
			}
			&:nth-child(5){
				background-color: #163351;
			}
		}
	}
	.list-scroll{
		height: 5*$list-height;
		margin-right: -22px;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;	
	    box-sizing: border-box;
		&.pa-bottom{
			padding-bottom: $list-height;
		}
		.lists{
			margin-right: 22px;
			background-color: black;
			li{
				position: relative;
				line-height: $list-height*2/3;
				border-bottom: 1px solid rgba(255,255,255,0.1);
				.inner{
					position: relative;
					padding: 0 20px;
					height: $list-height*2/3;
					background-color: black;
					z-index: 1;
					.res{
						float: left;
						@include font();
						text-align: left;
						& + span{
							@include font();
							padding-left:6px;
							opacity: 0.6;
						}
					}
					.none{
						display:none;
					}
					.check{
						position: absolute;
						top: 50%;
						right: 20px;
						margin-top: -9px;
						line-height: 1;
						input{
							display: none;
						}
						input + div{
							display: inline-block;
							width: 18px;
							height: 18px;
							box-shadow: 0 0 0 1px white inset;
							border-radius: 50%;
						}
						input[checked="true"] + div{
							box-shadow: none;
						}
					}
				}
				.remove{
					position: absolute;
					top: 0;
					right: 0;
					display: block;
					width: $list-height*2/3;
					height: $list-height*2/3;
					font-weight: 200;
					color: red;
					z-index: 0;
				}
			}
		}
	}
}